@font-face {
    font-family: 'emotion';
    src:  url('../fonts/emotion.eot?g7q0bu');
    src:  url('../fonts/emotion.eot?g7q0bu#iefix') format('embedded-opentype'),
    url('../fonts/emotion.ttf?g7q0bu') format('truetype'),
    url('../fonts/emotion.woff?g7q0bu') format('woff'),
    url('../fonts/emotion.svg?g7q0bu#emotion') format('svg');
    font-weight: normal;
    font-style: normal;
}

.jEmo-happy::before{
    content: "e9df";
}